bitarray==2.9.1
bitstring==4.1.4
cffi==1.16.0
cryptography==41.0.7
ecdsa==0.18.0
esptool==4.7.0
importlib-metadata==7.0.1
intelhex==2.3.0
mpremote==1.22.0
pycparser==2.21
pyserial==3.5
PyYAML==6.0.1
reedsolo==1.7.0
six==1.16.0
zipp==3.17.0
